body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: white;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: none;
  list-style: none;
}

li {
  padding-right: 1em;
  padding-bottom: 0.2em;
  float: left
}

h4 {
  padding: none;
  margin: none;
  border: none;
}

section {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 0.31px solid whitesmoke;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

button {
  text-decoration: none;
  opacity: 0.8
}

/*Classes*/

.hud-element {
  overflow-x: scroll;
  flex-direction: column;
  display: flex;
  height: 40%;
  width: 100%;
  background-color: grey;
  padding: 0.6em;
  opacity: 0.7;
  border-radius: 0.5em
}

.hudlabel {
  font-size: larger;
  font-weight: 500;
}

.button__visible {
  border-radius: 1em;
  background-color: red;
  margin-bottom: none;
}

.button__hidden {
  opacity: 0.2;
  border: none;
  color: white
}

.icon__visible {
  margin-top: 1em;
  margin-bottom: none;
  height: 1.5em
}

.geolist {
  border: 0.31px solid whitesmoke;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-left: 0;
  margin-left: -2.5em; 
  display: inline-flex;
}

.all-geometries {
  height: 10em;
  overflow-y: scroll;
}

.geo-container {
  height: 50em
}

.geo-container__plane {
  background-color: grey;
  padding: 0.6em;
  opacity: 0.7;
  border-radius: 0.5em;
  width: 29em;
  height: 20em;
  overflow-x: scroll;
}

/* Subselectors*/

.geolist button {
  margin-left: 1em
}

.geo-container__plane button {
  margin-right: 1em
}

.geo-container__plane section {
  display: flex;
  flex-direction: row;
}

.geo-container__plane header {
  display: flex;
  flex-direction: row;
}


.geo-container__plane input {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
